@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3><a asp-page="/form" asp-route-keyword="Johnny">點我進入作業</a></h3>
        <h3><a asp-page="/listview">點我進入作業</a></h3>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
