@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-left">
        <h1 class="display-4">Welcome</h1>
        <ul>
            <li>
                <a asp-page="/form" asp-route-keyword="Johnny">Form</a>
            </li>
            <li>
                <a asp-page="/listview">ListView</a>
            </li>
            <li>
                <a asp-page="/multieditform">MultiEditForm</a>
            </li>
        </ul>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
