@page
@model EditFormModel
@{

}

<form method="post">
    <input type="hidden" asp-for="Employee.Id" />
    <input type="hidden" asp-for="InitDate" />
    <input type="hidden" asp-for="InitUid" />
    <input type="hidden" class="validatemessage" asp-for="ValidateMessage" />
    <div class="form-group form-row">
        <label class="col-form-label col-2" asp-for="Employee.Empno"></label>
        <input class="form-control col-8" asp-for="Employee.Empno" />
    </div>
    <div class="form-group form-row">
        <label class="col-form-label col-2" asp-for="Employee.Name"></label>
        <input class="form-control col-8" asp-for="Employee.Name" />
    </div>
    <div class="form-group form-row">
        <label class="col-form-label col-2" asp-for="Employee.Sex"></label>
        <select class="form-control col-8" asp-for="Employee.Sex" asp-items="Html.GetEnumSelectList(typeof(Razor.Training.Models.Sex))"></select>
    </div>
    <div class="form-group form-row">
        <label class="col-form-label col-2" asp-for="Employee.EnterDate"></label>
        <input class="form-control col-8" asp-for="Employee.EnterDate" readonly />
    </div>
    <div class="form-group form-row">
        <label class="col-form-label col-2" asp-for="Employee.Email"></label>
        <input class="form-control col-8" asp-for="Employee.Email" />
    </div>
    <div class="form-group form-row">
        <label class="col-form-label col-2" asp-for="Employee.Autobiography"></label>
        <textarea class="form-control col-8" rows="3" asp-for="Employee.Autobiography"></textarea>
    </div>
    <button class="btn btn-primary">Save</button>
</form>

@section Scripts
{
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    @{await Html.RenderPartialAsync("_PopupMessageScripts");}
}