@page
@model Razor.Training.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">(翻譯：平安京已被海國毀滅)</h2>

<img src="~/img/img-01.jpg" style="width:63%;">