@page "{handler?}"
@model formModel
@{
}

<form method="post">
    <div class="form-group row" style="padding-left:15px;">
        <input class="col-sm-4 form-control" asp-for="Search" />
        <div class="col-sm-4">
            <button type="submit" class="col-sm-4 btn btn-success" asp-page-handler="Query">Query</button>
        </div>
    </div>
</form>

<form method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Employee.Name"></label>
        <input class="col-sm-6 form-control" asp-for="Employee.Name" />
        <span class="col-sm-4 col-form-label text-danger" asp-validation-for="Employee.Name"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Employee.Sex"></label>
        <select class="col-sm-6 form-control" asp-for="Employee.Sex" asp-items="@Html.GetEnumSelectList(typeof(Razor.Training.Sex))"></select>
        <span class="col-sm-4 col-form-label text-danger" asp-validation-for="Employee.Sex"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Employee.Empno"></label>
        <input class="col-sm-6 form-control" asp-for="Employee.Empno" />
        <span class="col-sm-4 col-form-label text-danger" asp-validation-for="Employee.Empno"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Employee.EnterDate"></label>
        <input class="col-sm-6 form-control" asp-for="Employee.EnterDate" type="date" />
        <span class="col-sm-4 col-form-label text-danger" asp-validation-for="Employee.EnterDate"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="Employee.Email"></label>
        <input class="col-sm-6 form-control" asp-for="Employee.Email" />
        <span class="col-sm-4 col-form-label text-danger" asp-validation-for="Employee.Email"></span>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success" asp-page-handler="Show">SendAndShow</button>
            <button type="submit" class="btn btn-success" asp-page-handler="Clear">SendAndClear</button>
            <a asp-page="/Advertisement" class="btn btn-info">吃個廣告</a>
        </div>
    </div>
</form>

<div>
    -------------------------------------------------------
    <div id="message">
        @Model.Message
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
